.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flipping-card {
    cursor: pointer;
    width: 350px;
    height: 500px;
}

.front,
.back{
    width: 350px;
    height: 500px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    border-radius: 10px;
}

.front{
    transform: perspective(600px) rotateY(0deg);
    outline: 2px solid var(--color2);
}

.back{
    transform: perspective(600px) rotateY(180deg);
    background-color: var(--color2);
}

.front img {
    height: 100%;
}

.content{
    padding: 10px;
    width: 100%;
    text-align: center;
}

.flipping-card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.flipping-card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}