header {
    overflow: hidden;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 10px;

    /* Самый верхний слой */
    z-index: 999999;

    border-radius: 0 0 20px 20px;
}


/* Привязанная шапка */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.8s;
    border-radius: 0;
}


/* Стиль элементов шапки */
header button,
header .material-symbols-outlined {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
    border-radius: 4px;
    background-color: #141414;
    transition: all 0.8s;
    color: #ffffff;
}


header > img {
    height: 50px;
    width: 50px;
}


/* Изменение цвета фона при наведении курсора */
header button:hover {
    background-color: #181818;
}


/* Сдвиг секции header-right вправо */
header .header-right {
    float: right;
    display: inline-block;
}


#header.active {
    height: 74px;
}
