.table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 500px;
    flex-shrink: 1;
    flex-grow: 0;
}


.table .table-item {
    width: 350px;
    margin: 20px;
    text-align: center;
}


@media (max-width: 1300px) {
    .table {
        flex-basis: auto;
    }

    .table .table-item.adaptive {
        width: 100%;
    }
}
