*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html body {
    height: 100%;
    display: block;
}


section {
    outline: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}


.t {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 400px;
    flex-shrink: 1;
    flex-grow: 0;
}


.social-icons {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.social-icons a {
    display: block;
    position: relative;
    background-color: #121212;
    transition: background-color .3s ease-in-out;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
